@model int
<div class="container row">
    <div class="col-12 text-center ">
        <h1 class="text-primary text-center text-dark">Order Submitted Successfully</h1><br />

    </div>
    <div class="col-12 text-center text-primary">
        <i class="far fa-check-circle" style="font-size: 15rem;"></i>
    </div>
    
    <div class="col-12 text-center text-dark">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
        Your Order Number is :@Model
    </div>
</div>

